@page
@model OGBank.Views.Home.SetInferiorLimitModel
@{
}

<html>
<body>

    <h1>Input your inferior limit</h1>

    <form action="/action_page.php">
        <label for="fname">Inferior Limit:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Confirm Inferior Limit:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <input type="submit" value="Submit">
    </form>


</body>
</html>
