@page
@model OGBank.Views.Home.ViewBalanceModel
@{
}

<html>


<head>

<h1>Your balance </h1>

</head>


<body>

    <p style="border-width:3px;width:fit-content;padding: 10px; border-style:solid; border-color:#000000;">3500 LEI </p>

</body>



</html>
